<h1>Profile for: <%=@user.name%></h1>
<ul>
  <%@user.user_shows.each do |show|%>
    <li><%=show.title%>, On: <%=show.network.name%>, <%=@user.name%>'s Rating: <%=show.rating%></li>
    <%end%>
</ul>
