
<div class="new_show_form">
<%=bootstrap_form_for @show do |f|%>
<div class="field">
  <%=f.text_field :title, label: "Show Title"%>
</div>
<div class="field">
  <%=f.text_field :url, label: "Add a link to your show's poster"%>
</div>
<div class="field">
  <%= f.collection_select(:network_id, @networks.order('name ASC'), :id, :name, {include_blank: true}) %>
  <%=f.fields_for :network, @network do |network_field|%>
  <%=network_field.text_field :name, label: "Add a Network"%><br>
  <%end%>
</div>
<div class="field">
  <%=f.text_area :description%>
  <%=f.submit%>
  <%end%>
  </div>
  </div>


  <div id="postResult">
    <h2 id="showTitle"></h2>
    <p id="showBody"></p>
    <p id="showNetwork"></p>
  </div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/shows', values);
      posting.done(function(data) {
        // var show = data["show"];
        // console.log(data);
        $("#showTitle").text(data["title"]);
        $("#showBody").text(data["description"]);
        $("#showNetwork").text(data["network"]["name"]);
      });

    });
  });
</script>