<h1>Shows by Title</h1>
<table>
  <% @shows.order(title: :asc).each do |show| %>
    <tr>
      <td>
        <%=link_to show.title.titleize, show_path(show)%>, <%=link_to show.network.name.upcase, network_path(show.network)%> 
        <div id="show-<%= show.slug %>"><%= truncate(show.description) %></div>
        <button class="js-more" data-id="<%= show.slug %>">More Info</button>
      </td>
    </tr>
      
    <%end%>
</table>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/shows/" + id + ".json", function(description) {
        var descriptionText = "<p>" + description["description"] + "</p>";
        var image_url = "<img class='nailthumb-container' src=" + description["url"] + ">";
        $("#show-" + id).html(descriptionText);
        $("#show-" + id).append(image_url);
    });
  });
});
</script>
