


<h1>Shows by Title</h1>
<div class="shows_index"></div>
  <% @shows.order(title: :asc).each do |show| %>
  <div class="show_index">
    <h2><%=link_to show.title.titleize, show_path(show)%>, <%=link_to show.network.name.upcase, network_path(show.network)%></h2>
    <div id="show-<%= show.slug %>"><%= truncate(show.description) %></div>
    <button type="button" class="btn btn-default js-more" data-id="<%= show.slug %>">More Info</button>
  </div> 
    <%end%>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/shows/" + id + ".json", function(show) {
        var descriptionText = "<p>" + show["description"] + "</p>";
        $("#show-" + id).html(descriptionText);
        if (show["url"] != null) {
          $("#show-" + id).append("<img src=" + show["url"] + ">");
        }
    });
  });
});
</script>

<script type="text/javascript" charset="utf-8">
  $( document ).ready(function() {
      event.preventDefault();
      $(".show_index").hide();
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "/shows",
        success: function(data){
          if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
              var showLocalLink = "/shows/" + data[i].slug;
              var networkLocalLink = "/networks/" + data[i].network.slug;
              $('.shows_index').append("<a href='" + showLocalLink + "'><h2>" + data[i].title+ "</h2></a>");
              $('.shows_index').append("<a href='" + networkLocalLink + "'><p>" + data[i].network.name + "</p></a>");
              $('.shows_index').append("<p> " + data[i].description + "</p>");
            }
          } else {
            $('.search-results').append("<h2>There were no shows matching your search. Please try again.</h2>");
          }
        }
      });
    });

</script>
