<h1><%=@show.title.titleize%></h1>
<h2><%=link_to @show.network.name.upcase, network_path(@show.network)%></h2>
<p>
  <%=@show.description%>
</p>
<h3>Total User's Following: <%=@show.rating%></h3>
<ul>
  <%@show.users.each do |user|%>
    <li><%=link_to user.name, user%></li>
  <%end%>
</ul>

<p>
  <%if user_signed_in? %>
    <%if current_user.admin?%>
      <%=link_to "ADMIN: Edit this show.", edit_show_path(@show)%>
      <%=link_to "ADMIN: Delete this show.", show_path(@show), method: "delete"%>
    <%else%>
      <%=link_to "Add to my shows.", user_show_add_to_user_shows_path(current_user.id, @show.slug), method: :post if !current_user.shows.include?(@show)%>
    <%end%>
    <%= link_to "Remove From My Shows", user_show_remove_from_user_shows_path(current_user, @show.slug), method: :delete if current_user.shows.include?(@show)%>
  <%end%>
</p>
