<!DOCTYPE html>
<html>
<head>
  <title>TV Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3>Where would you like to go?</h3>
<%=link_to "Home", root_path%>
<%=link_to "View Shows", shows_path%>
<%=link_to "View Networks", networks_path%>
<%=link_to "Sign Up", new_user_registration_path%>
<h1>Welcome to the TV Tracker <%=current_user.email if current_user%>!</h1>

<%= yield %>

</body>
</html>
